.left {
    float: left}
* {
    box-sizing: border-box}
body {
    background-color: #fff;
    font-family: 'Roboto',sans-serif;
    color: #444;
    font-size: 14px;
    margin: 0}
h1 {
    margin: 0;
    font-size: 1.6em;
    font-weight: 500}
p {
    font-size: 1.2em}
header {
    background: #67ab49;
    padding: 10px 20px;
    height: 60px;
    color: #fff;
    width: 100%;
    position: fixed;
}
header a {
    color: #fff;
    padding: 10px;
    border-radius: 3px;
    transition: background 150ms;
}
header .header-left {
    margin-top: 4px;
}
header .header-left h1 {
    display: inline}
.wrapper {
  padding-top: 60px;
  margin: 0 auto;
  text-align: center;
}
.content img {
  width: 100%;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0);
}
